<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="sns-signup">
    <% if provider == :facebook %>
      <%= embedded_svg("icon_Facebook.svg", class: "sns-icon") %>
    <% elsif provider == :twitter %>
      <%= embedded_svg("icon_Twitter.svg", class: "sns-icon") %>
    <% elsif provider == :google_oauth2 %>
      <%= embedded_svg("icon_Google.svg", class: "sns-icon") %>
    <% end %>
      <%=link_to "#{OmniAuth::Utils.camelize(provider).gsub("Oauth2","")}でサインイン", omniauth_authorize_path(resource_name, provider), class: "sns-link" %><br />
    </div>
  <% end %>
<% end %>

