<%= form_with(model: user) do |f| %>
  <div class="form-group mt-4">
    <%= f.label "ニックネーム" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  
  <div class="form-group">
    <%= f.label "自己紹介" %>
    <%= f.text_area :selfintroduction, class: "form-control" %>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group　btn-block" role="group">
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-pen-nib"></i>&nbsp;更新</button>
        <button type="button" id="profile-edit-cancel" class="btn btn-outline-danger"><i class="fas fa-times"></i>&nbsp;キャンセル</button>
    </div>
  </div>
  
  <script>
    $("#profile-edit-cancel").on('click', () => {
      $('#user__edit-form').html("");
    });
  </script>
<% end %>