<h3 class="imagepost-title">
    <%= @imagepost.title %>
</h3>
<div class="image-center">
    <img src="<%= @imagepost.image %>" width="100%">
</div>

<div id="imagepost_show_bar">
    <div class="icon-group">
        <div class="icon-item">
            <i class="far fa-eye text-info"></i><span class="counts"><%= @imagepost.impressions.size %></span>
        </div>
        <div class="icon-item">
            <i class="far fa-comments text-info"></i><span class="counts"><%= @imagepost.comments.size %></span>
        </div>
        <%= render 'imageposts/likes_button', imagepost: @imagepost %>
    </div>
    <% if @imagepost.user == current_user %>
        <div id="edit_bar">
            <div id="imagepost__edit-btn" class="btn btn-outline-primary">
                <i class="fas fa-user-edit"></i><span>&nbsp;編集する</span>
            </div>
            <div id="imagepost__delete-btn" class="btn btn-outline-danger">
                <i class="fas fa-trash-alt"></i><span>&nbsp;削除する</span>
            </div>
        </div>
    <% end %>
</div>

<h4 class="imagepost-description">説明文</h4>
<div class="description-item">
    <span><%= @imagepost.description %></span>
<div>

<div class="row mt-5">
    <div class="col-md-6 order-md-2">
        <h4 class="user-info">投稿ユーザー</h4>
        <%= render 'users/profile_card', user: @user %>
    </div>
    

    <div class="col-md-6 order-md-1">
        <%= render 'comments/comments_board', comments: @comments %>
        <div class="pt-5">
            <%= form_with(model: @comment) do |f| %>
                <%= f.hidden_field :imagepost_id %>
                <%= f.label :content, "コメント" %>
                <%= f.text_area :content, class: "form-control mb-2" %>
                <%= f.submit "投稿", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>

<!-- modal-windowをレンダー要素 -->
<div id="modal-window">
</div>

<!-- modal-windowレンダー時、画面全体をオーバーレイでマスキング-->
<div class="overlay">
</div>

<script>
    $('#imagepost__edit-btn').click(() => {
        $('#modal-window').html('<%=j render "imageposts/edit_modal", imagepost: @imagepost %>');
        $('.overlay').css({display: "block"});
    });
    
    $('#imagepost__delete-btn').click(() => {
        $('#modal-window').html('<%=j render "imageposts/delete_modal", imagepost: @imagepost %>');
        $('.overlay').css({display: "block"});
    });
    
    $(document).on('click', '.cancel', () => {
        $('#modal-window').html("");
        $('.overlay').css({display: "none"});
    });
</script>