<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-4">
        <h1><a class="navbar-brand brand-name" href="/">PictPost</a></h1>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSup">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarSup">
            <ul class="navbar-nav">
                <% unless user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to login_path, class: "nav-link signin-btn" do %>
                            <i class="fas fa-sign-in-alt"></i>&nbsp;ログイン
                        <% end %>
                        </li>
                    <li class="nav-item">
                        <%= link_to signup_path, class: "nav-link signin-btn" do %>
                            <i class="fas fa-user-plus"></i>&nbsp;サインアップ
                        <% end %>
                        </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to new_imagepost_path, class: "nav-link" do %>
                            <i class="fas fa-file-import"></i>&nbsp;画像投稿
                        <% end %>
                        </li>
                    <li class="nav-item">
                        <%= link_to user_path(current_user), class: "nav-link" do %>
                            <i class="far fa-address-card"></i>&nbsp;マイページ
                        <% end %>
                        </li>
                    <li class="nav-item">
                        <%= link_to destroy_user_session_path, class: "nav-link" do %>
                            <i class="fas fa-sign-in-alt"></i>&nbsp;サインアウト
                        <% end %>
                        </li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>